.boton {
    transform-style: preserve-3d;
}

.boton:after {
    top: -100%;
    left: 0px;
    width: 100%;
    position: absolute;
    background: #3a9999;
    border-radius: 5px;
    content: 'Flipped';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.boton:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}